@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #0d28f5;
  --gray: #c8c8c8;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #171717;
    --gray: #c8c8c8;
  --accent: #0d28f5;

  }
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}
